<div class="container">
  <form id="repository_prompt">
    <div>
      <p>Username:</p>
      <input type="text" name="username"></input>
    </div>
    <div>
      <p>Repository:</p>
      <input type="text" name="repository"></input>
    </div>
    <button type="submit">submit</button>
  </form>
</div>
